body {
    font-family: 'Adiro', cursive;
    margin: 0;
    padding: 20px;
    background-color: #000000;
}

.layout-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
    font-size: 24px;
    overflow: hidden;
    position: relative;
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.box span {
    position: absolute;
    white-space: nowrap;
    transition: transform 0.5s ease-in-out;
}

.upper-section {
    display: flex;
    height: 60vh;
    gap: 11px;
}

.box-pink {
    background: linear-gradient(45deg, #FF6B7A, #FF8E8E);
    border-top-left-radius: 15px;
    flex: 27;
}

.box-brown {
    background: transparent;
    flex: 33;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 10px;
}

.info-number {
    background: linear-gradient(45deg, #3D2B27, #654321);
    flex: 40;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    width: 100%;
    padding: 20px 0;
}

.info-name {
    background: linear-gradient(45deg, #E0E0E0, #B0B0B0);
    flex: 60;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    text-align: center;
    max-width: 100%;
    width: 100%;
    padding: 20px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box-purple {
    background: linear-gradient(45deg, #514789, #7A5CFF);
    border-top-right-radius: 15px;
    flex: 30;
}

.lower-section {
    display: flex;
    height: 30vh;
    gap: 11px;
}

.box-green {
    background: linear-gradient(45deg, #044A10, #0A7A1C);
    font-size: 48px;
    border-bottom-left-radius: 15px;
    flex: 56;
}

.box-dark-brown {
    background: linear-gradient(45deg, #3D2B27, #654321);
    font-size: 32px;
    border-bottom-right-radius: 15px;
    flex: 34;
}

.icon {
    width: 25%;
    height: 25%;
    object-fit: contain;
}

.box:hover {
    transform: scale(1.1);
    background-color: #444;
    box-shadow: 0 4px 8px rgba(252, 251, 251, 0.3);
}

.box:hover span {
    transform: translateX(-100%);
}

.box:active {
    transform: scale(0.9);
    background-color: #222;
    box-shadow: 0 2px 4px rgba(247, 246, 246, 0.2);
}

@media (max-width: 768px) {
    .layout-container {
        flex-direction: column;
    }

    .upper-section,
    .lower-section {
        flex-direction: column;
        height: auto;
    }
    .box {
        flex: 1;
    }
}
